<%= render "shared/header" %>
<main>

        <% if family_signed_in? %>
          <%= render "shared/familyindex"%>
        <% elsif user_signed_in? %>
          <%= render "shared/userindex"%>
        <% end %>
</main>
<%= render "shared/footer" %>